<% layout('layouts/boilerplate')%>
<!-- 캠프 정보 -->
  <div class="row">
    <div class="col-6 ">
      <div class="card mb-3">
        <img src="../img/camp.png" class="card-img-top" alt="..." width="500" height="550"/>
        <div class="card-body">
          <h5 class="card-title"><%= campground.title%></h5>
          <p class="card-text"><%= campground.description%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location%></li>
          <li class="list-group-item">$<%= campground.price%>/night</li>
        </ul>
        <% if(campground?.author?.username === currentUser?.username) { %> 
        <div class="card-body">
          <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">수정</a>
          <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">삭제</button>
          </form>
        </div>
        <% } %>
      <div class="card-footer text-muted">2 days ago <%- campground.author.username %> 작성 </div>
    </div>
  </div>

  <div class="col-6 mt-3">
    <!-- 리뷰 작성 -->
    <!-- 사용자 정의 피드백 메시지를 사용하기 위한 novalidate 속성 설정 -->
    <form action="/campgrounds/<%=campground._id%>/reviews" class="mb-3 needs-validation" method="POST" novalidate>
      <div class="mb-3">
        <div>
          <label class="form-label" for="rating">평점</label>
          <input type="range" class="form-range" name="review[rating]" id="rating" min="1" max="5"></input>
        </div>
        <div>
          <label class="form-label" for="body">리뷰</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>   
          <!-- 사용자 정의 validation 피드백 메시지(유효성 검사 통과 실패시) -->
          <div class="invalid-feedback">내용을 입력하세요.</div>
        </div>
      </div>
      <button class="btn btn-primary">리뷰 등록</button>
    </form>
    <!-- 리뷰-->
    <% for (const review of campground.review) { %>
      <div>
        <div class="card mt-1 mb-3">
            <div class="card-body">
              <h5 class="card-title">평점 <%=review.rating%> </h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">id</h6> -->
              <p class="card-text"><%=review.body%></p>
              <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <button class="btn btn-primary mt-3">삭제</button>
              </form>
            </div>
        </div>
      </div>
    <% } %>
</div>